html,
header,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#back {
    z-index: -1;
    object-fit: cover;
    margin-top: 0;
}

#menublack {
    background-color: black;
    z-index: -2;
    width: 100%;
    height: 5.625rem;

}

#menublacklarge,
#menublacksmall {
    z-index: 2;
    position: relative;
    color: white;
    font-family: sans-serif;
    font-size: 2.5vw;
    padding-left: 5.625rem;
    padding-top: 1.56rem;


}

#menublacksmall {
    font-size: 1.2vw;
    padding-top: 0;
}

#menuheader {
    position: relative;
    margin-top: -24.3rem;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    height: 23.125rem;
    width: 100%;
    padding-left: 1.25rem;
    padding-top: 1.25rem;
}

#spacebetween {
    display: inline-flex;
    gap: 1.875rem;
    justify-content: space-between;
    padding-top: 0.625rem;
    padding-right: 1.875rem;
}

.squarered,
.squaregrey,
.menured {
    height: 2.8125rem;
    width: 4.6875rem;
    cursor: pointer;
    background: rgb(158, 1, 1);
    text-align: center;
    border: rgb(158, 3, 3) 2px;
    font-family: 'Courier 10 Pitch';
    font-weight: 300;
    font-size: medium;
    color: rgb(255, 255, 255);
}

.squaregrey {
    width: 5.625rem;
    background: rgb(40, 57, 71);
    border: rgb(77, 77, 77) 2px;
    color: rgb(255, 255, 255);
}

.menured {
    width: 3.75rem;
    height: 3.75rem;
    font-size: 5.5vw;
    margin-top: -0.5rem;
    background: rgba(158, 1, 1, 0.8);
}

#sec1 {
    height: 46em;
}

.titleheading {
    text-align: center;
    font-size: 3.9vw;
    font-family: Sans-serif;
    padding-top: 2.8125rem;
    color: rgba(32, 49, 73, 0.925);
    padding-bottom: 1.25rem;

}

.content {
    text-align: center;
    font-size: 1.9vw;
    line-height: 1.3em;
    color: rgba(32, 49, 73, 0.925);
    font-family: sans-serif;
}

#sanskrit {
    padding-left: 2.5rem;
    padding-top: 3.75rem;
}

#imageright {
    padding-top: 6rem;
    padding-right: 0.94rem;
}

.titleblack {
    font-size: 1.25rem;
    margin-top: -2.1875rem;
    padding-left: 0.94rem;
    padding-bottom: 0.94rem;
    color: rgb(26, 25, 25);
}

.content1 {
    font-size: 1.9vw;
    line-height: 1.5em;
    padding-left: 0.94rem;
    color: rgb(43, 42, 42);
    text-align: left;
    text-align: justify;
    padding-right: 51%;
    font-family: sans-serif;
}

.content2 {
    font-size: 1.6vw;
    line-height: 1.5em;
    padding-left: 0.94rem;
    padding-top: 2rem;
    color: rgb(43, 42, 42);
    text-align: left;
    font-family: sans-serif;
}

.link a {
    text-decoration: none;
    padding-left: 0.94rem;
    font-size: 2.2vw;
    color: rgb(26, 25, 25)
}

.link a:hover {
    color: steelblue;
}

#secblue {
    background-color: rgb(21, 42, 66);
    height: 12.25em;
}

.whitetitle {
    font-family: 'Noto-sans';
    font-size: 4.5vw;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding-left: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 5.9375rem;
}

#menusecblue {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-left: 1.25rem;
    padding-right: 1.2rem;
}

#menusecblue a {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 10, 22);
    padding: 0.75rem 1.56rem 0.75rem 1.56rem;
    text-decoration: none;
    transition-duration: 700ms;
    font-size: 1.25rem;
}

#menusecwhite a {
    color: rgb(0, 0, 104);
    background-color: white;
}

#menusecblue a:hover {
    color: rgb(0, 0, 104);
    background-color: white;
}

#sec2 {
    height: 55em;
    padding-bottom: 5rem;
}

.specs {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: -6.25rem;
    text-align: left;
    padding-top: 3.125rem;
}

.bold {
    font-size: 2.5vw;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding-bottom: 0.94rem;
    padding-top: 0.94rem;
}

.bold1 {
    font-size: 2.1vw;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding-bottom: 0.94rem;
    padding-top: 0.94rem;
}

.cont {
    font-size: 1.7vw;
    font-weight: 300;
    margin-left: -1.25rem;
    line-height: 1.5em;
}

.contt {
    font-size: 1.8vw;
    font-weight: 300;
}

.midblue {
    background-color: rgb(35, 64, 97);
    color: white;
    padding: 0 7.18rem 0 7.5rem;
}

.darkblue {
    background-color: rgb(0, 10, 22);
    color: white;
    padding: 0 13.25rem 0 1.3125rem;
}

.grayblue {
    background-color: rgb(133, 137, 141);
    padding: 0 13.125rem 0 1.375rem;
    color: rgb(0, 0, 0);
}

.schooolimg {
    z-index: -2;
    object-fit: cover;
}


.sec3 {
    height: fit-content;
}

.admission {
    position: absolute;
    background-color: rgba(1, 0, 17, 0.6);
    height: 36.3rem;
    z-index: 2;
    margin-top: -35rem;

}

.textboldwhite {
    padding-top: 5rem;
    text-align: center;
    font-size: 3vw;
    color: rgb(255, 255, 255);
    font-family: 'roboto';
}

.bluetextsubhead {
    padding-top: 0.5rem;
    color: rgb(0, 221, 250);
    text-align: center;
    font-size: 1.5vw;
}

.subsubheadwhite {
    color: white;
    padding-top: 2rem;
    font-size: 1.7vw;
    text-align: left;
    font-family: noto sans;
    padding-left: 57%;
    padding-right: 15rem;
    line-height: 1.5em;
    text-align: justify;


}

.center {
    padding-top: 1.5rem;
    padding-left: 62%;
}

.squarebutton {
    justify-content: center;
    height: 3em;
    width: 7rem;
    border-radius: 25rem;
    cursor: pointer;
    background: rgb(3, 8, 66);
    text-align: center;
    border: rgb(4, 18, 56) 2px;
    font-family: 'Courier 10 Pitch';
    font-weight: 300;
    font-size: medium;
    color: rgb(255, 255, 255);
    transition-duration: 600ms;

}

.squarebutton:hover {
    background-color: antiquewhite;
    color: blue;
}

.sec4 {
    padding-top: 2rem;
    height: fit-content;
}

.flexx {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

.bighead {
    font-size: 3.5vw;
    font-family: Roboto;
    color: rgb(0, 0, 88);
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-top: 5rem;
}

.bluee {
    text-decoration: none;
    color: rgb(0, 23, 92);
    padding-left: 1rem;
}

.allicons {
    padding-left: 2rem;
}

.bignumber,
.bigmonth {
    font-family: Noto-sans;
    font-weight: bolder;
    color: rgb(0, 179, 119);
    font-size: 2.5vw;
    padding-right: 0.5rem;

}


.bigmonth {
    color: rgb(0, 29, 117);
    font-size: 1.5vw;
}

.boldblue {
    text-decoration: none;
    font-family: Sans-serif;
    font-weight: bolder;
    font-size: 2vw;
    color: rgb(0, 23, 92);
}

.tealblue {
    color: rgb(0, 138, 92);
    font-family: noto sans;
}

.paddingg {
    padding-left: 1rem;
    padding-top: 1rem;
}

.bluebutton {
    height: 3rem;
    width: 9rem;
    cursor: pointer;
    background: rgb(0, 1, 71);
    text-align: center;
    border: rgb(0, 6, 43) 2px;
    font-family: 'Courier 10 Pitch';
    font-weight: 300;
    font-size: large;
    color: rgb(255, 255, 255);
    transition-duration: 600ms;
}

.sec5 {
    height: 38em;
}

.bluebutton:hover {
    background: rgb(161, 161, 161);
    color: rgb(0, 1, 71);

}

.sec6 {
    background-color: rgba(193, 209, 255, 0.4);
    height: 28.1em;
}

.heading {
    font-family: noto sans;
    font-size: 2.5vw;
    color: rgb(0, 4, 63);
    padding-left: 60%;
    padding-bottom: 1rem;
}

.subheading {
    font-family: noto sans;
    padding-left: 60%;
    font-size: 2vw;
    padding-bottom: 2rem;
}

.subheading a {
    text-decoration: none;
    color: black;
}

.sec7 {
    height: 12rem;
    background-color: rgba(0, 37, 139, 0.315);
}

.callback {
    font-family: Roboto;
    font-size: 2.5vw;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.flexx1 {
    display: flex;
    gap: 1.5rem;
    padding-left: 38%;

}

.namephone {
    padding-top: 1rem;
    font-family: roboto;
    display: grid;
    justify-content: space-between;

}

.text1 {
    display: grid;
    gap: 0.5rem;
    width: 5rem;
    height: 5rem;
}
